/* vim: set filetype=css sw=4 ts=4 sts=4 : */

.edit_area {
    margin-top: 5%;
}

.edit_area textarea {
    width: 80%;
    margin-left: 8%;
}

.edit_area .cancelsave {
    margin-top: 3%;
    float: right;
}
