/* vim: set filetype=css sw=4 ts=4 sts=4 : */
/******** Top bar CSS *******/

#topbar {
    margin-top: 0;
    background-color: #5e5b48;
}

#topbar .dropdown {
    color: white;
}

#profile_img {
    width: 60px;
}

#selector {
    margin-top: .8%;
    margin-left: .5%;
}

