<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>SameGrain</title>
        <link type="text/css" href="{% static 'build/css.css' %}" rel="stylesheet" />
        <script type="text/javascript" src="{% static 'build/cal.js' %}"></script>

        <script type="text/javascript">

            $( document ).ready(function() {

                var sgapp = cal.App();
                sgapp.init();
            });

        </script>

        {% comment %}
        <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAJuTlBGtujsf8HNh87l5RWskbU6sCFIm0&sensor=false"/></script>
        {% endcomment %}

    </head>
    <body>
		<div id="navbar" class="ui tabular menu">
			<a class = "item" href="#list">List of to do's</a>
			<a class = "item" href="#create">Create new to do list</a>
		</div>

        <div id="content">
        </div>    
    </body>
</html>

